<div id="bodyPanel">
	
	<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p>

	<%= render :partial => "new_contacto" , :locals => {:contacto => Contacto.new}%>
<div id="testimonial">
	<p><span>Edificio Rosario, segundo piso </span><br> oficina # 210 Cochabamba. <br>
	Telefono: (591)4-4527593 <br>Email: info@wibo.com.bo</p>
	
</div>
</div>



