<div id="bodyPanel">
	
	<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p>
       
	<%= render :partial => 'form' %>
       
<div id="testimonial">
	<p><span>Edificio Rosario, segundo piso </span><br> oficina # 210 Cochabamba. <br>
	Telefono: (591)4-4527593 <br>Email: contactos@wibo.com.bo</p>
	
</div>
</div>



