<h3>Noticias Tecnologicas</h3>
	<span></span>
	<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p>
	<p class="capstext"></p>
La aparición del iPad modifica la política del precio único del e-book en ...
La Jornada (México) - ‎hace 3 horas‎
Sin embargo, la presentación del iPad de Apple, el mes pasado, ofrece nuevas posibilidades a los editores, y la editorial MacMillan ya manifestó que ...
Amazon reacciona ante la iPad InfoBAE.com

	<p class="moretwo2"><a href="http://www.google.com">MAS</a></p>
	<br>
	<p class="dotline"><img src="images/blank.gif" alt="" width="1" height="1" /></p><br>
	Si tienes una Wii o una Nintendo DS te interesará saber que para finales de este mes de febrero, Nintendo tiene previsto realizar dos eventos exclusivos ...
	<br><br>
	<p class="moretwo2"><a href="http://www.google.com">MAS</a></p>
